*{
   margin: 0;
   padding: 0;
}

.navMenu{
	padding: 2px 0 2px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.logoP{
	text-align: center;
	font-family:Century;
	font-size: 24px;
}

.navMenu-panel{
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	gap:80px;
	font-family:Ubuntu;
	font-size: 18px;
}

:any-link{
text-decoration:none;
font-size: 120%;
color: black;
}